.recent-work {
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0rem;
  position: relative;
  z-index: 5;

  .work-img {
    border-radius: 50%;
    height: 350px;
    width: auto;
    margin: 2rem;
    @media only screen and (max-width: 768px) {
      height: 200px;
    }
  }

}