.select {
  margin: 10rem 0 0;
  color: white;
  text-align: center;
  @media only screen and (max-width: 950px) {
    width: auto;
    padding: 10rem 1rem 0;
  }

  h1 {
    font-weight: 700;
    font-size: 16px;
    margin: .5rem auto;
    text-transform: uppercase;
  }

  p {
    font-family: 'VT323', monospace;
    max-width: 500px;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    margin: 0 auto;
  }

  .col {
    display: flex;
    border-bottom: 1px solid rgba(255,255,255,.25);
    align-items: center;
    min-height: 100vh;
    padding: 3rem 0;
    flex-direction: column;
    width: auto;
    justify-content: center;
    @media only screen and (max-width: 950px) {
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .button-border {
    margin: 1rem auto;
  }

  .project-img {
    width: 100%;
    max-width: 1024px;
    height: auto;
  }

}