#app-container {
  display: flex;
  width: auto;
  height: 100%;
}

#app-container {
  margin-left: 75px;
  @media (max-height: 500px) and (min-width: 650px) {
    margin-left: 75px;
  }
  @media (min-height: 650px) and (max-width: 500px) {
    margin-left: 0px;
  }
}

.border-round {
  border-radius: 50%;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: .5s linear;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: .5s linear;
}